@keyframes fastspin {
  0% {
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  5%, 25% {
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  }
  30%, 50% {
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  55%, 75% {
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  80%, 100% {
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes slowspin {
  0% {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  5%, 25% {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  }
  30%, 50%  {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  }
  55%, 75% {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(-270deg) rotateZ(0deg);
  }
  80%, 100%  {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(-360deg) rotateZ(0deg);
  }
}
// 上面
@keyframes p1 {
  0% {
    transform: rotateX(-39.5deg) rotateY(-34deg) ;
  }

  5%, 25% {
    transform: rotateX(42.5deg) rotateY(-32deg);
  }
  30%, 50%  {
    transform: rotateX(44.5deg) rotateY(-31deg);
  }
  55%, 75% {
    transform: rotateX(-41.5deg) rotateY(-34deg);
  }
  80%, 100%  {
    transform: rotateX(-39.5deg) rotateY(-34deg);
  }
}
@keyframes p2 {
  0% {
    transform:  rotateX(42.5deg) rotateY(-32deg);
  }
  5%, 25%  {
    transform:  rotateX(-41.5deg) rotateY(-34deg);
  }
  30%, 50% {
    transform:  rotateX(44.5deg) rotateY(-31deg);
  }
  55%, 75%   {
    transform:  rotateX(-39.5deg) rotateY(-34deg);
  }
  80%, 100% {
    transform:  rotateX(42.5deg) rotateY(-32deg);
  }
}
@keyframes p3 {
  0%  {
    transform:  rotateX(44.5deg) rotateY(-31deg);
  }
  5%, 25%  {
    transform:  rotateX(-41.5deg) rotateY(-34deg);
  }
  30%, 50%  {
    transform:  rotateX(-39.5deg) rotateY(-34deg);
  }
  55%, 75%{
    transform:  rotateX(42.5deg) rotateY(-32deg);
  }
  80%, 100%{
    transform:  rotateX(44.5deg) rotateY(-31deg);
  }
}
@keyframes p4 {
  0% {
    transform: rotateX(-41.5deg) rotateY(-34deg);
  }
  5%, 25%  {
    transform: rotateX(-39.5deg) rotateY(-34deg);
  }
  30%, 50% {
    transform: rotateX(42.5deg) rotateY(-32deg);
  }
  55%, 75%  {
    transform:  rotateX(44.5deg) rotateY(-31deg);
  }
  80%, 100% {
    transform: rotateX(-41.5deg) rotateY(-34deg);
  }
}
// 下面
@keyframes p5 {
  0% {
    transform: rotateX(-42.5deg) rotateY(-36deg);
  }
  5%, 25%  {
    transform:  rotateX(37.5deg) rotateY(-34deg);
  }
  30%, 50% {
    transform:  rotateX(34.5deg) rotateY(-19deg);
  }
  55%, 75%  {
    transform: rotateX(40.5deg) rotateY(-28deg);
  }
  80%, 100% {
    transform:  rotateX(-42.5deg) rotateY(-36deg);
  }
}
@keyframes p6 {
  0%  {
    transform:  rotateX(37.5deg) rotateY(-34deg);
  }
  5%, 25% {
    transform:  rotateX(34.5deg) rotateY(-19deg);
  }
  30%, 50%  {
    transform:  rotateX(39.5deg) rotateY(30deg);
  }
  55%, 75%{
    transform:  rotateX(-42.5deg) rotateY(-36deg);
  }
  80%, 100%  {
    transform:  rotateX(37.5deg) rotateY(-34deg);
  }
}
@keyframes p7 {
  0% {
    transform:  rotateX(34.5deg) rotateY(-19deg);
  }
  5%, 25%  {
    transform:  rotateX(39.5deg) rotateY(30deg);
  }
  30%, 50% {
    transform:  rotateX(-42.5deg) rotateY(-36deg);
  }
  55%, 75%  {
    transform:  rotateX(37.5deg) rotateY(-34deg);
  }
  80%, 100% {
    transform:  rotateX(34.5deg) rotateY(-19deg);
  }
}
@keyframes p8 {
  0%  {
    transform:  rotateX(39.5deg) rotateY(30deg);
  }
  5%, 25% {
    transform:  rotateX(-42.5deg) rotateY(-36deg);
  }
  30%, 50%  {
    transform:  rotateX(37.5deg) rotateY(-34deg);
  }
  55%, 75%  {
    transform:  rotateX(34.5deg) rotateY(-19deg);
  }
  80%, 100%  {
    transform:  rotateX(39.5deg) rotateY(30deg);
  }
}

@keyframes loading {
  0% {
      transform:rotateY(180deg);
  }
  100% {
      transform:rotateY(360deg);
  }
}
@keyframes a1 {
  0%{
    left: 20px;
    top: 30px;
  }
  75%{
    left: -120px;
    top: -46px;
  }
  76%{
    left: 20px;
    top: 30px;
  }
  100%{
    left: 20px;
    top: 30px;
  }
}
.webpack{
  .cube {
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
    transform: rotateX(-33.5deg) rotateY(45deg);
  }

  .cube__inner, .cube__outer {
    display: inline-block;
    transform-style: preserve-3d;
  }

  .cube__inner {
    position: absolute;
    top: -2px;
    left: 0;
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: fastspin 16s  infinite;
  }
  .cube__outer {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: slowspin 16s  infinite;
  }
  .cube__outer .cube__face {
    &:nth-child(1){
      div {
        left: -10px;
        top: -12px;
        transform:  rotateX(-39.5deg) rotateY(-34deg); // 上 前 角
        animation: p1 16s  infinite;
      }
    }
    &:nth-child(2){
      div {
        left: -7px;
        top: -7px;
        transform:  rotateX(-42.5deg) rotateY(-36deg); //下 前角
        animation: p5 16s  infinite;
      }
    }
    &:nth-child(3){
      div {
        left: -10px;
        top: -10px;
        transform:  rotateX(42.5deg) rotateY(-32deg); // 左上角
        animation: p2 16s  infinite;
      }
    }
    &:nth-child(4){
      div {
        top: 188px;
        left: -7px;
        transform:  rotateX(37.5deg) rotateY(-34deg);
        animation: p6 16s  infinite;
      }
    }
    &:nth-child(5){
      div {
        top: -8px;
        left: -8px;
        transform: rotateX(-41.5deg) rotateY(-34deg); // 上右角
        animation: p4 16s  infinite;
      }
    }
    &:nth-child(5){
      .radius-c {
        transform-style: preserve-3d;
        position: absolute
        content ''
        display: block
        width: 20px;
        height: 20px;
        background-color: #fff
        border-radius 100%
        top: 188px;
        left: -11px;
        transform: rotateX(33.5deg) rotateY(25deg); // 下右角
        animation: p8 16s  infinite;
      }
    }
    &:nth-child(6){
      div {
        left: -10px;
        top: -8px;
        transform: rotateX(44.5deg) rotateY(-31deg); // 最上角
        animation: p3 16s  infinite;
      }
    }
    div {
      position: absolute
      content ''
      display: block
      width: 20px;
      height: 20px;
      background-color: #fff
      border-radius 100%
      transform-style: preserve-3d;
    }
    &:nth-child(6){
      .radius-c {
        transform-style: preserve-3d;
        position: absolute
        top: 186px;
        left: -11px;
        content ''
        display: block
        width: 20px;
        height: 20px;
        background-color: #fff
        border-radius 100%
        transform: rotateX(34.5deg) rotateY(-19deg)
        animation: p7 16s  infinite;
      }
    }
    .smalll-cube{
      position:absolute;
      top:-5px;
      left:-9px;
      width: 20px;
      height: 20px;
      border-radius:50%;
      perspective:3000px;
      transform rotate(-90deg)
      .smalll-cube-r{
        height: 100%;
        transform-style: preserve-3d;
        animation: loading 1s linear 0s infinite;
        div{
          position: absolute
          width:16px;
          height:16px;
          border-radius:50%;
          &:nth-child(1){
            transform:rotateY(0deg);
            background-color: #fff
          }
          &:nth-child(2){
            transform:rotateY(36deg);
            background-color: #fff
          }
          &:nth-child(3){
            background-color: #fff
            transform:rotateY(72deg);
          }
          &:nth-child(4){
            background-color: #fff
            transform:rotateY(108deg);
          }
          &:nth-child(5){
            background-color: #fff
            transform:rotateY(144deg);
          }
        }
      }
    }
  }
  .cube__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
  }
  .radius-m{
    position: relative;
    top: -260px;
    left: 0;
    display: block;
    transform-style: preserve-3d;
    width: 200px;
    padding-bottom: 60px;
    transform: rotateX(-33.5deg) rotateY(45deg);
  }
  .radius-w{
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: slowspin 16s  infinite;
    transform-style: preserve-3d;
    width: 200px
    height: 200px
    .radius{
      width: 16px
      height: 16px
      background-color: #fff
      border-radius 50%
      position: absolute
      &:nth-child(1){
        left: 91px;
        top: 80px;
        // animation: a1 2s infinite;
      }
      &:nth-child(2){
        left: 91px;
        top: 278px;
      }
      &:nth-child(3){
        left: -120px;
        top: -46px;
      }
      &:nth-child(4){
        left: -120px;
        top: -209px;
      }
      &:nth-child(5){
        left: 21px;
        top: -287px;
      }
      &:nth-child(6){
        left: 161px;
        top: -46px;
      }
      &:nth-child(7){
        left: 161px;
        top: -210px;
      }
      &:nth-child(8){
        left: 20px;
        top: -115px;
        z-index: -1
      }
    }
  }
  .cube .cube__outer .cube__face {
    //transition: border-width 0.2s;
    //transition-delay: 0.2s;
  }

  .cube .cube__inner .cube__face {
    border: 1px solid #ffffff;
    &:nth-child(1),&:nth-child(6) {
      background-color: #3657ad
    }
    &:nth-child(2), &:nth-child(3) {
      background-color: #3d5ac9
    }
    &:nth-child(4), &:nth-child(5) {
      background-color: #315691
    }
  }
}
