.closeImg{
  cursor pointer
  margin 60px 0 0 160px
  img{
    display block
    width 44px
  }
}
.function-t{
  font-size 32px
  color #08061d
}
.bottom-line{
  width 80px
  height 2px
  background-color #090d21
  margin 24px 0
}
.function-c{
  font-size 16px
  color #3376ff
}
.c-t{
  margin  20px 0  40px 0
}
.wrap {
  display flex
  flex-direction column
  align-items center
}